.share {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  .shareWrapper {
    padding: 10px;
    .shareTop {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      input {
        border: none;
        width: 80%;
        height: 100px;
        &:focus {
          outline: none;
        }
      }
    }
    .shareHr {
      margin: 20px;
    }
    .shareBottom {
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .shareOptions {
        display: flex;
        .shareOption {
          display: flex;
          align-items: center;
          margin-right: 15px;
          cursor: pointer;
          .shareIcon {
            font-size: 18px;
            margin-right: 3px;
          }
          .shareOptionText {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    button {
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: cornflowerblue;
      font-weight: 500;
      cursor: pointer;
      margin-right: 20px;
      color: white;
    }
  }
}
