.share {
  width: 100%;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  .shareWrapper {
    padding: 20px;
    .shareTop {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      textarea {
        resize: none;
        margin-top: 30px;
        border: none;
        width: 100%;
        height: 60px;
        &:focus {
          outline: none;
        }
      }
    }
    .shareImgContainer {
      padding: 0 20px 0 60px;
      position: relative;
      .shareImg {
        width: 50%;
        object-fit: cover;
      }
      .shareCancelImg {
        color: crimson;
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 60px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .shareHr {
      margin: 20px 0;
    }
    .shareBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .shareIcons {
        width: 30%;
        display: flex;
        justify-content: space-between;
        label {
          font-size: 25px;
          color: gray;
          *:hover {
            cursor: pointer;
            color: slateblue;
          }
        }
      }
      button {
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: slateblue;
        cursor: pointer;
        color: white;
      }
    }
  }
}
