.sidebar {
  flex: 2;
  height: calc(100vh - 50px);
  overflow: scroll;
  position: sticky;
  top: 70px;
  .sidebarWrapper {
    .sidebarList {
      padding: 0;
      margin: 0;
      list-style: none;
      .sidebarListItem {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          color: cornflowerblue;
        }
        .sidebarIcon {
          margin-right: 15px;
        }
      }
    }
  }
  .sidebarHr {
    margin: 20px 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}
