.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  margin: 8px 0;
  .postWrapper {
    padding: 10px;
    .postTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .postTopLeft {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .postUserName {
          font-size: 15px;
          font-weight: 500;
          margin: 0 10px;
        }
        .postDate {
          font-size: 12px;
        }
      }
    }
    .postCenter {
      margin: 20px 0;
      img {
        margin-top: 20px;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
    }
    .postBottom {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .iconContainer {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: gray;
        cursor: pointer;
        &:nth-child(3):hover {
          color: crimson;
        }
        &:nth-child(1):hover {
          color: cornflowerblue;
        }
        &:nth-child(2):hover {
          color: limegreen;
        }
        &:nth-child(4):hover {
          color: cornflowerblue;
        }
        .icon {
          font-size: 20px;
          margin-right: 3px;
        }
      }
    }
  }
}
