.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.69);
  margin: 10px 0;
  .postWrapper {
    padding: 10px;
    .postTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .postTopLeft {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .postUserName {
          font-size: 15px;
          font-weight: 500;
          margin: 0 10px;
        }
        .postDate {
          font-size: 12px;
        }
      }
      .postTopRight {
      }
    }
    .postCenter {
      margin: 20px 0;
      img {
        margin-top: 20px;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
    }
    .postBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .postBottomLeft {
        display: flex;
        align-items: center;
        .rightIcon {
          font-size: 24px;
          cursor: pointer;
          margin-right: 1px;
        }
        .rightCounter {
          font-size: 15px;
          margin-right: 8px;
        }
      }
      .postBottomRight {
        display: flex;
        align-items: center;
        cursor: pointer;
        .commentIcon {
          font-size: 24px;
          margin-right: 1px;
        }
        .commentCounter {
          font-size: 15px;
        }
      }
    }
  }
}
