.profilePage {
  flex: 8;
  padding: 0 20px;
  .profilePageWrapper {
    width: 100%;
    .goBack {
      display: flex;
      align-items: center;
      .arrowBack {
        font-size: 30px;
        margin-right: 20px;
        color: slateblue;
        &:hover {
          background-color: slateblue;
          color: white;
          border-radius: 50%;
        }
      }
      span {
        font-weight: 500;
        font-size: 20px;
        color: slateblue;
      }
    }
    .profile {
      border-radius: 10px;
      padding: 20px;
      display: flex;
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
      margin: 10px 0;
      transition: all 0.5s ease;
      &:hover {
        background-color: #f1f1f1;
      }
      .profileImg {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        label {
          position: absolute;
          .iconContainer {
            border-radius: 50%;
            opacity: 0.3;
            width: 60px;
            height: 60px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            &:hover {
              cursor: pointer;
            }
            .pfpIcon {
              width: 40px;
              height: 40px;
            }
          }
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .profileDetail {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .profileTop {
          flex: 1;
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            border: none;
            padding: 7px;
            border-radius: 5px;
            background-color: slateblue;
            cursor: pointer;
            color: white;
          }

          .profileTopLeft {
            display: flex;
            align-items: center;
            .icon {
              margin: 0 10px;
              font-size: 25px;
              &:hover {
                color: slateblue;
                cursor: pointer;
              }
            }
            span {
              font-weight: 500;
            }
          }

          input {
            border: 1px solid lightgray;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            &:focus {
              outline: 1px solid slateblue;
            }
          }
        }
        .profileCenter {
          margin: 10px 0;
          span {
            color: gray;
            &:nth-child(1) {
              margin-right: 20px;
            }
            &:hover {
              color: slateblue;
              cursor: pointer;
            }
          }
        }
        .profileBottom {
          flex: 1;
          width: 100%;
          height: 100px;
          textarea {
            resize: none;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            font-size: 16px;
            border: 1px solid lightgray;
            &:focus {
              outline: 1px solid slateblue;
            }
          }
        }
      }
    }
  }
}
