.rightbar {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 70px;
  overflow: scroll;
  direction: rtl;

  .rightbarWrapper {
    direction: ltr;
    .rightbarAd {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    .rightbarTitle {
      margin-bottom: 20px;
    }
    .rightbarFriendList {
      list-style: none;
      .rightbarFriend {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .rightbarPfp {
          margin-right: 5px;
          position: relative;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          .badge {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: limegreen;
            position: absolute;
            top: 0;
            right: 0;
            border: 0.5px solid white;
          }
        }
        .rightbarName {
          font-weight: 400;
        }
      }
    }
  }
}
